<article><h1>Error 400</h1>
 {{#if hasErrors}}

<section class="error">
    <h2>There is an error</h2>
     <p>
{{error}}</p>
</section>
<a href="/" class="palindrome-link">Try another palindrome</a>
 
{{/if}}
</article>