<h1> The Details are:</h1>

    <table>
<tr><td>First Name: {{response.firstName}}</td></tr>
<tr><td>Last Name: {{response.lastName}}</td></tr>
<tr><td>Profession: {{response.profession}}</td></tr>
<tr><td>Bio: {{response.bio}}</td></tr>

</table>
<br>
<br>

 <a href="/logout" class="logout-link">Logout</a>